
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" style="top:60px;" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <mat-nav-list>
      <a mat-list-item href="/producto" style="color: #325290;"><mat-icon aria-hidden="false" class="mx-2" >dashboard</mat-icon>Dashboard</a>
      <a mat-list-item href="/producto" style="color: #325290;"><mat-icon aria-hidden="false" class="mx-2" >admin_panel_settings</mat-icon>Administrar Productos</a>
      <a mat-list-item href="#"style="color: #325290;"><mat-icon aria-hidden="false" class="mx-2" >loyalty</mat-icon>Promociones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
      <button style="margin-top: 10px; position:absolute;"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">more_horiz</mat-icon>
      </button>
      
    
    <!-- Add Content Here -->
<router-oulet></router-oulet>  
</mat-sidenav-content>
</mat-sidenav-container>