<div class="main-content m-5">
  <div class="container-fluid ">

    <div class="card mb-3" style="width: 70vw;" *ngFor="let pr of listaProductos">
      <div class="row g-0">
        <div class="col-md-3 d-flex align-items-center ">
          <div>
          <mat-icon aria-hidden="false" class="icono mx-5 " style="font-size:10em"> shopping_basket</mat-icon>
        </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h2 class="card-title">{{pr.nombre}}</h2>
<hr>
            <p class="card-text">
              Costo: ${{pr.precio}} <br>
              Categoría: {{pr.categoria}} <br>
              Descripción del producto: Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptate consequatur, sunt assumenda natus deleniti sit quisquam hic magnam eveniet cupiditate dolores
              sed voluptatum iusto soluta maxime consectetur vitae libero. Provident.</p>
            <p class="card-text"><small class="st">Stock {{pr.inventario}}</small></p>
          </div>
        </div>
      </div>
    </div>

   
  </div>
</div>