.etabla {
    width: 100%;
    background: rgb(0,16,48);
background: linear-gradient(139deg, rgba(0,16,48,0.1847514005602241) 6%, rgba(86,109,140,0.1802696078431373) 100%);
background: rgb(255,255,255);
background: linear-gradient(139deg, rgba(0,16,48,0.01847514005602241) 6%, rgba(255,255,255,0.1802696078431373) 100%);
color: cornsilk;
border-color: cornsilk;

 }
th,td, .ngx-pagination{
 color: cornsilk;
border-color: cornsilk;
} 
.col-form-label, h3{
    color:cornsilk;
}
th.mat-sort-header-sorted {
    color: black;
  }

  @media only screen and (min-width:909px){
    .subc{
      margin: 0px;
    }
  }
.subc{
    min-height: 95vh;
    height: auto;
    background: rgb(0,32,73);
    background: linear-gradient(90deg, rgba(0, 32, 73, 0.644) 0%, rgba(0, 16, 48, 0.658) 61%, rgba(0, 3, 23, 0.637) 100%);
    width: 85VW;
}
.contenedorAP{
    width: 100vW;
}